body {
    font-family: 'Arial', sans-serif;
    background-color: #FFEFD5; /* crema zero waste */
    text-align: center;
    padding: 50px;
}

h1 {
    color: #8AA83C; /* Verde claro zero waste */
}

p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

button {
    background-color: #8AA83C; /* Verde claro zero waste */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5A7030;
}