{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel de Administración | Zero Waste</title>
    <link rel="stylesheet" href="{% static 'inventory/css/admin_dashboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

{% include 'navbar_admin.html' %}

<main class="text-center ">

    <h1 class="fw-bold mb-3">Hola otra vez, {{ user.first_name }} 👋</h1>
    <p class="text-muted mb-5">Este es tu resumen de actividad en Zero Waste.</p>

    <div class="row justify-content-center g-4">
        <div class="col-md-5">
            <div class="card shadow h-100">
                <div class="card-body">
                    <h5 class="card-title text-success">Prendas en inventario</h5>
                    <p class="display-6 fw-bold">{{ prendas_disponibles }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card shadow h-100">
                <div class="card-body">
                    <h5 class="card-title text-success">Prendas vendidas</h5>
                    <p class="display-6 fw-bold">{{ prendas_vendidas }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card shadow h-200">
                <div class="card-body">
                    <h5 class="card-title text-success">Ganancias totales</h5>
                    <p class="display-6 fw-bold">${{ total_ventas|floatformat:0 }}</p>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>
