{% load static %}
<!DOCTYPE html>
{% include 'navbar.html' %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto - Zero Waste</title>
    <link rel="stylesheet" href="{% static 'inventory/css/contacto.css' %}">
    <link rel="stylesheet" href="{% static 'inventory/css/navbar.css' %}">
</head>
<body>
    <div class="content">
        <h1>CONTÁCTANOS</h1>
        <p>Encuéntranos en nuestras redes sociales:</p>

        <div class="social-buttons">
            <a href="https://www.instagram.com/zerowaste_med" target="_blank">
                <button class="social-button">
                    <img src="{% static 'inventory/img/instagram.png' %}" alt="Instagram">
                    Instagram
                </button>
            </a>
            <a href="https://wa.me/573135558772" target="_blank">
                <button class="social-button">
                    <img src="{% static 'inventory/img/whatsapp.png' %}" alt="WhatsApp">
                    WhatsApp
                </button>
            </a>
            <a href="https://www.tiktok.com/@zerowaste_med" target="_blank">
                <button class="social-button">
                    <img src="{% static 'inventory/img/tiktok.png' %}" alt="TikTok">
                    TikTok
                </button>
            </a>
        </div>

        <div class="back-button">
            <a href="{% url 'home' %}">← Volver al inicio</a>
        </div>
    </div>

</body>
</html>
